/****************** FOODTOPIA INDEX.HTML CSS3 FILE ********************/
/* STYLED BY AURORA WIDAWATI AND EZGI AKSAKAL */
/* UNIVERSITY OF BATH, MARCH 2019 */

/****** NAVBAR STYLING *****/
.top-navbar {
  background:rgba(206,10,49,1);
  background:rgb(206,10,49); /* IE9 Backup */
  color: rgba(255,255,255,1);
  color: rgb(255,255,255);
}

/* Styling links in top navbar */
.top-navbar a:link, a:visited, a:hover, a:active {
  color:rgba(255,255,255,1);
  color:rgb(255,255,255);
  text-decoration: none;
}

/******** HEADER STYLING *******/
.display-4 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 1rem;
}
.headtopia {
  text-align: justify;
}

/******** CARD DECK STYLING *******/
.category-pic {
  width: 50%;
}

/******** FOOTER STYLING *******/
.foottopia {
  margin-bottom: 0px;
}
