/*********************** FOODTOPIA INDEX.HTML CSS3 FILE ********************/
/* STYLED BY AURORA WIDAWATI AND EZGI AKSAKAL */
/* UNIVERSITY OF BATH, MARCH 2019 */

/****** NAVBAR STYLING *****/
.top-navbar {
  background:rgba(206,10,49,1);
  background:rgb(206,10,49); # IE9 BACKUP
  color: rgba(255, 255, 255, 1);
  color: rgb(255, 255, 255); # IE9 BACKUP
}
